* {
  font-family: 'Roboto', sans-serif;
}
.city:hover {
  cursor: pointer;
}

.custom-container {
  max-width: 900px;
  margin: 0 auto;
}

.grey {
  color: lightslategray;
}

.bg-grey {
  background-color: #cccdcf;
}
